@import '../scss/foundations/variables';
@import '../scss/foundations/reset';

*, *::before, *::after{
    box-sizing: border-box;
}

html{
    background-color: $secondary-color;
    margin: 0;
    padding: 0;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
p::selection,
a::selection {
    
}

@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');