@import '../scss/foundations/variables';
@import '../scss/foundations/reset';

*, *::before, *::after{
    box-sizing: border-box;
}

html{
    background-color: $background-200;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "KyoMadoka";
    src: url(/public/fonts/KyoMadoka.ttf);
}

@font-face {
    font-family: "CinioMedium";
    src: url(/public/fonts/CinioText-Medium.ttf);
}

// h1::selection,
// h2::selection,
// h3::selection,
// h4::selection,
// p::selection,
// a::selection {
    
// }

@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');